body {
    background-color: rgb(32, 29, 29);
    color: white;
    text-shadow: 1px 1px black;
}

h1 {
    padding: 0;
    font-size: 55px;

}

.container {
    text-align: center;
    background-color: rgb(85, 80, 81);
    height: 700px;
    width: 50%;
    margin: auto;
}

.form-container {
    font-size: 50px;
    padding-top: 5px;
    text-align: center;
    padding: 10px;

}

#email{
    padding: 0;
    margin-left: 80px;
}

input {
    font-size: 41px;
}

.form-second-container {
    margin-top: 30%;
}

.pw-label {
    padding-right: 11px;
}

.login-btn {
    font-size: 40px;
    margin-top: 7%;
   margin-left: 55%;
    border-radius: 10%;
    border-style: solid;
    border-color: rgb(49, 49, 49);
    background-color: rgb(85, 80, 81);
    color: rgb(255, 255, 255);
    text-shadow: none;
    text-shadow: 2px 1px black;
}

.login-btn:hover,
.register-btn:hover {
    border-color: rgb(3, 3, 3);
}

.register-btn {
    font-size: 40px;
    border-radius: 10%;
    border-style: solid;

    border-color: rgb(49, 49, 49);
    background-color: rgb(85, 80, 81);
    color: rgb(255, 255, 255);
    text-shadow: none;
    text-shadow: 2px 1px black;
}

a{
    text-decoration: none;
    color:White;
}
a::after{
    color:white;
}