<!DOCTYPE html>

<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="registerStyle.css">
</head>
<body>
    <div class="container">
        <h1>Register to access the password generator</h1>
        <form action="" th:action="@{/save}" th:object="${user}" method="post">
            <div class="form-container">
                <div class="form-second-container">
                    <label for="name">Username</label>
                    <input id="name" type="text" th:field="*{username}" name="username" placeholder="Enter your username" required>
                    <br>
                    <label for="email">Email</label>
                    <input id="email" type="email" th:field="*{email}"  placeholder="Enter your email" required>
                    <br> 
                    <label class="pw-label" for="password">Password</label>
                    <input id="password" type="password" th:field="*{password}"  name="password"  placeholder="Enter your password" required>
                </div>
                <button type="submit" class="register-btn">Register</button>
                <button class="login-btn"><a href="/login.html">Login</a></button>
            </div>
        </form>
            
        

        
        
    </div>

    <script src = "register.js"></script>
</body>
</html>