body {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: cursive;
    text-shadow: 1px 1px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

button:hover, #copyBtn:hover {
    color: white;
    border-color: rgb(146, 255, 240);
}

#passwordId {
    font-size: 20px;
    padding-top: 5px;
    padding-right: 5px;
}

p {
    display: inline;
}

#copyBtn{
    font-size: 24px;
    font-family: sans-serif;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
}

button {
    margin: 15px;
    font-size: 25px;
    font-family: sans-serif;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    color: white;
}

#passwordToAdd{
    font-size: 21px;
    padding-top: 5px;
}

h2 {
    font-size: 35px;
    border-bottom: 2px solid rgb(180, 174, 174);
    width: 68%;
    padding-left: 12px;

}

#container {
    margin: auto;
    width: 890px;
    padding-left: 11%;    
}

#response{
    font-size: 23px;
    background-color: rgb(26, 27, 27);
    margin-top:2%; 
    margin-left:12px;
    padding-left:5px;
}

.mini-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
}
